@font-face {
  font-family: "Edwin";
  src: url("../fonts/Edwin-0.52/Edwin-Roman.otf");
}

@font-face {
  font-family: "Edwin";
  src: url("../fonts/Edwin-0.52/Edwin-Bold.otf");
  font-weight: bold;
}

*,
*::before,
*::after {
  font-family: "Edwin";
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
